

  <div>
    <%= flash[:notice] %>
  </div>

<div class="container px-5 px-sm-0">
  <div class="row">

  <div class="col-md-3">



      <h2>User info</h2>


          <%= image_tag @user.get_profile_image(100,100) %>
        <table class="table">

          <tbody>
            <tr>
              <th>name</th> <td><%= @user.name %></td>
            </tr>
            <tr>
              <th>introduction</th> <td><%= @user.introduction %> </td>
            </tr>
          </tbody>
        </table>

   <%= render 'left', book: @book_new,user: @user %>
 </div>


  <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>

          <tr>
            <td><%= image_tag @user.get_profile_image(100,100) %>
            <br>
            <%= link_to user_path(@user.id) do %>
              <%= @user.name %>
            <%end %></td>

            <td><%= link_to book_path(@book.id) do %>
              <%= @book.title %>
              <% end %></td>

            <td><%= @book.body %></td>

            <% if @book.user == current_user %>
            <td>
                  <%= link_to edit_book_path(@book.id) do %>
                  <button type="button" class="btn btn-success">Edit</button>
                  <% end %>
                  </td>
            <td>
                  <%= link_to book_path(@book.id),method: :delete,"data-confirm"=>"本当に消しますか？"  do %>
                  <button type="button" class="btn btn-danger">Destroy</button>
                  <% end %>
                </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>
