<main>
<div class="container px-5 px-sm-0">
  <div class="row">


      <%= render 'left', books: @books %>



      <h2>Book detail</h2>
      <table class="table">
        <tbody>

          <tr>
            <td>ユーザーimg<!--% image_tag @user.get_image %-->
            <br>
            ユーザー名usershowリンク付き</td>
            <td><%= link_to book_path(@book.id) do %>
              <%= @book.title %>
              <% end %></td>
            <td><%= @book.body %></td>

            <% if @book.user == current_user %>
            <td>editボタン
                  <%= link_to edit_user_path(@user.id) do %>
                  <button type="button" class="btn btn-success">Edit</button>
                  <% end %>
                  <!--<a class="btn btn-sm btn-success edit_book_55567" href="/books/55567/edit">Edit</a>--></td>
            <td>
                  <%= link_to book_path(@book),method: :delete,"data-confirm"=>"本当に消しますか？"  do %>
                  <button type="button" class="btn btn-danger">Destroy</button>
                  <% end %>
                </td>
            <% end %>
          </tr>
        </tbody>
      </table>



  </div>
</div>
</main>